h1,
h4 {
  text-align: center;
}

p {
  text-align: justify;
}

hr {
  height: 4px;
  background-color: #53bf9d;
}

img {
  display: block;
  margin: 0 auto;
  width: 400px;
}

@media (max-width: 540px) {
  img {
    width: 200px;
  }
}
